# MySQL local (host da maquina, acessado pelo container)
SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/siseg?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

# API
API_PORT=8080
JWT_EXPIRATION_SECONDS=3600

# Microsservico de pagamento (rede Docker: servico "pagamento")
PAGAMENTO_PORT=8081
PAYMENT_SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/siseg_pagamento?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
PAYMENT_SERVICE_URL=http://pagamento:8081
PAYMENT_SERVICE_KEY=test-key-123
PEDIDO_SERVICE_URL=http://api:8080
PEDIDO_SERVICE_KEY=test-key-123

# Integracoes
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
# No .env use $$ no lugar de $ (ex.: $$aact_hmlg_...)
ASAAS_API_KEY=change-me
ASAAS_WEBHOOK_SECRET=teste
LOCATIONIQ_BASE_URL=https://us1.locationiq.com/v1
LOCATIONIQ_API_KEY=change-me
LOCATIONIQ_RATE_LIMIT_MS=2000
VIACEP_BASE_URL=https://viacep.com.br
OSRM_BASE_URL=https://router.project-osrm.org
