# MySQL local (fora do Docker, na maquina host)
SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/siseg?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

# API
API_PORT=8080
JWT_EXPIRATION_SECONDS=3600

# Integracoes
PAYMENT_SERVICE_URL=http://host.docker.internal:8081
PAYMENT_SERVICE_KEY=dev-payment-key
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
ASAAS_API_KEY=change-me
ASAAS_WEBHOOK_SECRET=
LOCATIONIQ_BASE_URL=https://us1.locationiq.com/v1
LOCATIONIQ_API_KEY=pk.change-me
LOCATIONIQ_RATE_LIMIT_MS=2000
VIACEP_BASE_URL=https://viacep.com.br
OSRM_BASE_URL=https://router.project-osrm.org
